@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color: #4299E1;
}
body {
    font-family: 'Poppins'; 
    margin: 0;
    background: #EDF2F7;
}

.navbar{
    background: #2D3748;
   
    .container{
        padding-top: 1em;
        padding-left: 5em;
        height: 3em;
    }
    .logo{
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 1.2em;
        span{
            color: var(--primary-color);
        }
    }
}

.headerFuelQuoteForm,.header-profile{
    color: #2D3748;
    text-align: center;
}


.information{
    background: white;
    height: 40em;
    width: 35em;
    margin: auto;

    .address{
        font-weight: normal;
        .personIcon{
            width: 8%;
            float: left;
            padding-left: 1px;
        }

        .addressHeader{
            font-weight: none;
            padding-top: 1.13em;
            color: gray;
        }

        .userAddress{
            padding-left: 2em;
            color: black;
        }
    }

    .userInput{
        padding-left: 2em;
        line-height: 5em;
        color:gray;
        }

        .userGallons{
            float: left;
            display: flex;
            .gallonsRequestedInput{
                float: right;
                padding-left: 5em;
                // padding-right: 8em;
                
                input{
                    background-color:#EDF2F7;
                }
            }

        }

        .dateRequested{
            float: left;
            .dateRequestedInput{
                float: right;
                padding-left: 12em;
                padding-right: 8em;
                input{
                    background-color:#EDF2F7;
                }
            }
        }

        .totalAmountPrice{
            float: left;
            .displayPrice{
                float: right;
                padding-left: 8em;
                padding-right: 8em;
                input{
                    background-color:#EDF2F7;
                }
            }

        }

        .pricePrint{
            float: left;

        }
        .generatePrice{
            float: right;
            padding-left: 12em;
            padding-right: 11em;
        }


        .totalAmount{
            float: right;
            padding-left: 10em;
            padding-right: 10em;
        }
    }
    


.saveButton{
    float: right;
    margin-top: 2em;
    margin-right: 13em;
    background-color: #2D3748;
    color: white;
    text-decoration: none;
    width: 8em;
    height: 4em;
    text-align: center;
    border-radius: 5em;
    padding-bottom: 1em;
    line-height: 4.5em;
    cursor: pointer; 
}