<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fuel Quote History</title>
    <link rel="stylesheet" href="/static/css/fuelQHistory.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <a class="logo" href="/">Fuel<span>X</span></a>
        <!-- Insert image her for the logo if we do end up using an image-->
      </div>
    </div>
    <h1 class="headerFuelQuoteForm">Fuel Quote History</h1>

    <style>
      th {
        text-align: center;
      }
      tr {
        text-align: center;
      }

      table {
        border-spacing: 3em;
      }
    </style>

    <table style="width: 100%">
      <tr>
        <th>Date</th>
        <th>Address</th>
        <th>Gallons</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>04-30-2021</td>
        <td>4800 Calhoun Rd, Houston, TX 77004</td>
        <td>1500</td>
        <td>$2542.5</td>
      </tr>
      <tr>
        <td>04-28-2021</td>
        <td>501 Crawford St, Houston, TX 77002</td>
        <td>500</td>
        <td>$855</td>
      </tr>
      <tr>
        <td>44-24-2021</td>
        <td>6100 Main St, Houston, TX 77005</td>
        <td>5000</td>
        <td>$8475</td>
      </tr>
      <tr>
        <td>04-24-2021</td>
        <td>NRG Pkwy, Houston, TX 77054</td>
        <td>999</td>
        <td>$1708.29</td>
      </tr>
      <tr>
        <td>04-24-2020</td>
        <td>6200 Hermann Park Dr, Houston, TX 77030</td>
        <td>1200</td>
        <td>$2034</td>
      </tr>
    </table>

    <div class="backButtonDiv">
      <a href="/user/dashboard/" class="backButton"> Back</a>
    </div>
  </body>
</html>
