{% extends "base.html" %}

{% block content %}

  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Register an Account</h1>

      <form name="signup_form" method="POST">

        <label for="name">Name</label>
        <input type="text" name="name" class="field" required>

        <label for="emailAdd">Email</label>
        <input type="emailAdd" name="emailAdd" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" name="signup"value="Sign Up" class="btn">
      
      </form>
      
    </div>

    <div class="card">

      <h1 class="center">Log In</h1>

      <form name="login_form" method="POST"> 

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" name="login" value="Log In" class="btn">
      
      </form>
      
    </div>
  
  </div>
{% endblock %}