<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <section class="home-logo">
        <div class="container">
                 <div class="login-center">
                    <a class="logo" href="index.html">
                        Fuel<span>X</span>
                    </a>
                </div>
        </div>
    </section>

    <form name="login" class="loginTopContainer">
        <label for="emailAdd"><b>Email address</b></label>
        <input type="email" placeholder="Enter Email Address" name="emailAdd" required><br>

            
        <label for="pswd"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pswd" required><br>
            <ul class="forgot-pass">
                <!--Currently have it set to register html page, can change it if we decide to have a diffrent page-->
                <li><a href="register.html">Forgot Password?</a></li>
                
            </ul>
            <div class="loginBottom">
                <li><a href="register.html">Don't have an account?</a></li>
            </div>
        <!--More work needs to be done on the Sign in button-->
        <!-- <input type="submit" class="signIn" value="Sign In"> -->
        <input type="button" onclick="check(this.form)"  class="signIn" value="Sign In"/>
    </form>
    
    <div class="loginMiddle">
        
    </div>

    <script language="javascript">
        function check(login)
        {
            /*CHECKS FOR USER AND PASS - CURRENTLY HARD CODDED VALUES*/
            if(login.emailAdd.value == "bob@gmail.com" && login.pswd.value == "bob123")
            {
                /*WILL OPEN THE FOLLOWING HTML PAGE IF SUCCESSFUL*/
                window.location = 'profile.html'
            }
            else
            {
                /*LOGIN ERROR - CANNOT FIND USERNAME AND PASSWORD COMBINATION*/
                alert("Incorrect username or Password")
            }
        }
    </script>
    
</body>
</html>
